Grid {
  border: greenyellow;
  grid-size: 4;
  grid-gutter: 1;
  grid-gutter: 1;
  grid-rows: 75% 25%;
}

#board {
  content-align: center middle;
  column-span: 3;
  row-span: 3;
}

#richlog {
  height: 100%;
  text-align: center;
}

#input {
  height: 80%;
  width: 80%;
}
